@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #a15da6, #a381a49f);
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
