@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
